# 50 Python codes

This notebook includes 50 different Python code snippets which can be useful when you're coding your program. The list includes codes that can natively be run in Python without exteranal libraries.

Note that the notebook is designed for **Python 3.6+**

## 1. Reverse

If you have a string/array in Python, you can easily reverse the string using the `[]` used to access a value at a given index. Inside `[]`, we specify two colons followed by a `-1` which indicates that we want to go through the string/array but with a step `-1`, that simply means in reverse.

In [1]:
array = [1,2,3,4,5]
string = "This is a string"

In [2]:
array[::-1]

[5, 4, 3, 2, 1]

In [3]:
string[::-1]

'gnirts a si sihT'

## 2. Format print

When printing an output to the screen, you can using `.format()` to specify each value to be replaced in place of `{}` specified inside the print statement.

In [4]:
a = 1
b = 2

print("The two numbers are {} and {}".format(a, b))

The two numbers are 1 and 2

Taking it a step further, we can specify integer values inside `{}`, starting with 0. This number actually acts as an index for the list of values defined in `.format()`. 

So, if we specify `0` in the first bracket above, we'll actually see that the value is replaced by `a`. If we use `1`, the value will be replaced by `b`.

This allows us to specify the values inside `format()` in any order and then simply use the index values in the print part as needed.

In [5]:
print("The two numbers are {0} and {1}".format(a, b))
print("The two numbers are {1} and {0} are reversed just during printing".format(a, b))

The two numbers are 1 and 2
The two numbers are 2 and 1 are reversed just in printing

## 3. Extracting values into separate variables

In Python, you can specify comma separated variables equal to values in an array and they will get assigned the correct values from the array.

In [11]:
first, middle, last = [1, 2, 3]
print("first = {}, middle = {} and lat = {}".format(first, middle, last))

first = 1, middle = 2 and lat = 3

## 4. Extracting specific values

If you have a list/dictionary of numbers and you want to extract the first and last values from them, it's very easy. We use `*` to assign more than one value to a variable. I'm using `_` to denote that I won't be using the values that will fall in that place.

In the example below, 1 is assigned to `first`, 6 is assigned to `last` and the rest is assigned to `_`.

In [10]:
first, *_, last = [1, 2, 3, 4, 5, 6]
print("first = {}, last = {}".format(first, last))

first = 1, last = 6

The above code can be modified to get any set of values like the first two, or the last three or so on just be changing the position of `*` marked variable.

## 5. Iterate multiple lists

In Python, it's very easy to go over the elements of a list using a for loop. But what if you want to traverse two lists simulatenously? We use the `zip()` method to create a list of tuples which we can iterate over in a for loop. Here, we'll see that in each tuple, the first element belongs to first list and second element belongs to second list.

In [12]:
arr1 = [1, 2, 3, 4]
arr2 = [5, 6, 7, 8]
for first, second in zip(arr1, arr2):
    print("Values: {} - {}".format(first, second))

Values: 1 - 5
Values: 2 - 6
Values: 3 - 7
Values: 4 - 8

## 6. Repeat strings without loops

We can repeat a string just by multiplying it by the number of times we want to repeat it.

In [19]:
"text "*5

'text text text text text '

## 7. Any vs all

Check if at least one of the values is `True` using `any()` or all are `True` using `all()`.

In [26]:
arr = [False, False, False, True, False, False]
print("At least one True - {}".format(any(arr)))
print("All True - {}".format(all(arr)))

At least one True - True
All True - False

## 8. Array from arrays

If we have an array, we can iterate and apply a method on all elements of the array to create a new one.

`arr2` below is the array of squares of values in `arr1` using this simple trick.

In [27]:
arr1 = [1, 2, 3, 4]
arr2 = [a*a for a in arr1]
arr2

[1, 4, 9, 16]

## 9. In place swapping

We can swap two numbers in Python with just one line of code.

In [28]:
a = 1
b = 10
print("Original: first = {}, second = {}".format(a, b))
a, b = b, a
print("Swapped: first = {}, second = {}".format(a, b))

Original: first = 1, second = 10
Swapped: first = 10, second = 1

## 10. Combine array of strings

If we have an array of strings, we can create a sentence out of it using `join`.

In [29]:
arr = ["My", "name", "is", "Karan"]
" ".join(arr)

'My name is Karan'

Note that above, we use `" "` to denote that we want element to be joined by a space. We can use other values too for example ` & `.

In [30]:
arr = ["My", "name", "is", "Karan"]
" & ".join(arr)

'My & name & is & Karan'